body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('donor.jpg');
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-header {
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-header h2 {
    margin: 0;
}

.profile-link a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.dashboard-content {
    display: flex;
    justify-content: space-between;
}

.form-box {
    width: 60%;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.field input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.field input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

.blood-quantity {
    width: 35%;
    background-color: #ecf0f1;
    padding: 20px;
}

.logout-link {
    margin-top: 20px;
    text-align: right;
}

.logout-link a {
    text-decoration: none;
    color: #e74c3c;
    font-weight: bold;
}

/* Add more styles as needed */
